/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties */
:root {
  --color-desaturated-red: hsl(0 36% 70%);
  --color-soft-red: hsl(0 93% 68%);
  --color-dark-grayish-red: hsl(0 6% 24%);
  --gradient-white-to-sea-salt-sherbet: linear-gradient(
    135deg,
    hsl(0 0% 100%),
    hsl(0 100% 98%)
  );
  --gradient-spanish-pink-to-flamingo-dream: linear-gradient(
    135deg,
    hsl(0 80% 86%),
    hsl(0 74% 74%)
  );
  --font-family-primary: "Josefin Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

/* || Global styles */
body {
  color: var(--color-desaturated-red);
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.57;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.page {
  min-height: 100vh;
  background-image: var(--gradient-white-to-sea-salt-sherbet);
}

/* || Header styles */
.header {
  padding: 2rem;
}

.header__link {
  display: inline-block;
  transition: transform 0.2s ease-in-out 0s;
}

.header__link:hover {
  transform: scale(1.15);
}

.header__logo {
  width: 6.25rem;
  height: 1.3125rem;
}

/* || Complementary image styles */
.complementary__image {
  width: 100%;
  height: auto;
}

/* || Main content styles */
.main {
  padding: 4rem 2rem 5.75rem;
  text-align: center;
}

.main__inner {
  max-width: 23.4375rem;
  margin-inline: auto;
}

.main__inner > * + * {
  margin-top: var(--flow-space, 1rem);
}

.main__title {
  font-size: 2.5rem;
  font-weight: var(--font-weight-light);
  line-height: 1.05;
  text-transform: uppercase;
  letter-spacing: 0.27em;
}

.main__title-highlight {
  color: var(--color-dark-grayish-red);
  font-weight: var(--font-weight-semibold);
}

.cta-form {
  --flow-space: 2rem;
  position: relative;
}

.cta-form__input {
  width: 100%;
  padding: 0.6875rem 1.5rem 0.5625rem;
  border: none;
  outline: 1px solid var(--color-desaturated-red);
  outline-offset: -1px;
  border-radius: 1.75rem;
  background: transparent;
  color: var(--color-dark-grayish-red);
  line-height: 2;
}

.cta-form__input::placeholder {
  text-transform: capitalize;
  color: var(--color-desaturated-red);
  opacity: 0.5;
}

[aria-invalid="true"] {
  outline: 2px solid var(--color-soft-red);
  outline-offset: -2px;
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: right 4.5rem center;
}

.cta-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--gradient-spanish-pink-to-flamingo-dream);
  border: none;
  border-radius: 1.75rem;
  box-shadow: 0 0.9375rem 1.25rem hsl(0 44% 60% / 0.25);
  padding: 0.875rem 1.625rem;
  overflow: hidden;
  cursor: pointer;
}

.cta-form__submit::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: hsl(1 62% 86%);
  z-index: -1;
  transition: opacity 0.2s ease-out 0s;
  opacity: 0;
}

.cta-form__submit:hover::before {
  opacity: 1;
}

.cta-form__submit-icon {
  width: 0.75rem;
  height: 1.25rem;
}

.cta-form__error {
  position: absolute; /* Prevent form layout shift when message becomes visible */
  top: 3.5rem;
  padding-left: 1.5rem;
}

.cta-form__error-message {
  text-align: left;
  font-size: 0.8125rem;
  color: var(--color-soft-red);
}

.success {
  --flow-space: 2rem;
  transition: opacity 0.5s linear, visibility 0.3s linear;
}

.success--hidden {
  visibility: hidden;
  opacity: 0;
}

.success--visible {
  visibility: visible;
}

.success__title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
  color: var(--color-dark-grayish-red);
}

.success__text {
  margin-top: 0.25rem;
}

@media (min-width: 45rem) {
  body {
    font-size: 1rem;
    line-height: 1.75;
  }

  .page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10.17625rem 1fr;
    grid-template-areas:
      "header image"
      "main image";
    background-image: url("./images/bg-pattern-desktop.svg"),
      var(--gradient-white-to-sea-salt-sherbet);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header {
    grid-area: header;
  }

  .header__logo {
    width: 9.875rem;
    height: 2.0625rem;
  }

  .complementary {
    grid-area: image;
    display: flex;
  }

  .complementary__image {
    height: 100%;
    object-fit: cover;
  }

  .main {
    grid-area: main;
    text-align: left;
  }

  .main__inner {
    max-width: 27.8125rem;
    margin-inline: unset;
  }

  .main__title {
    font-size: 3.25rem;
    line-height: 1;
  }

  .cta-form__input {
    padding: 0.9375rem 2rem 0.8125rem;
    line-height: 1.75;
  }

  [aria-invalid="true"] {
    background-position: right 7.25rem center;
  }

  .cta-form__submit {
    padding: 1.125rem 2.75rem;
  }

  .cta-form__error {
    top: 4rem;
    padding-left: 2rem;
  }
}

@media (min-width: 75rem) {
  .page {
    max-width: 90rem;
    margin-inline: auto;
    grid-template-columns: 1fr auto;
    gap: 4.45rem;
  }

  .header {
    padding: 0 0 0 10.3125rem;
    align-self: center;
    font-size: 0;
  }

  .main {
    padding: 0 0 0 10.3125rem;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__text {
    --flow-space: 2rem;
  }

  .cta-form {
    --flow-space: 2.5rem;
  }
}
